<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body class="w-screen ">

  <app-nav></app-nav>

  <!-- div de respiro ( 10% ) -->
  <div class="px-40 w-screen">

    <div class="flex flex-wrap w-full justify-between gap-4">
      
      <div *ngFor="let tarefa of tarefas" class=" " style="width: 32rem;">
        <app-card [tarefa]="tarefa" ></app-card>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
  


</body>
</html>